beautifulsoup4==4.11.2
spacy>=3.0.0,<4.0.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
recipe-scrapers==14.32.0
textacy
SpeechRecognition
pyaudio
# had to brew install portaudio
pyttsx3
word2number